# Binaries from tools
tools/*.rpm
tools/opt

# Test files
hello
hello.s

# CMake stuff
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
FHE_CPU.cbp

# CLion stuff
.idea

# Binary
FHE_CPU

# Keys
cloud.key
secret.key

############### Default stuff below this line

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
